.link-sidebar {
    background-color: white !important;
    color: #6b6c7e !important;
}

.button,
.button:focus,
.button:active {
    background-color: #f28809 !important;
    border-color: #dbdce4 !important;
    color: black !important;
}
.button:hover {
    background-color: #f28809 !important;
    border-color: #dbdce4 !important;
    color: white !important;
}

.button-plain,
.button-plain:focus,
.button-plain:active {
    border-color: #dbdce4 !important;
    color: #6b6c7e !important;
    background-color: white !important;
}
.button-plain:hover {
    border-color: #dbdce4 !important;
    color: black !important;
    background-color: #f8f9fa !important;
}

.header {
    background-color: #5D8EA9;
    color: white;
}

.list-group-item-action {
    background-color: white !important;
    color: #6b6c7e !important;
}

.list-group-item-action:hover {
    border-color: #dbdce4 !important;
    color: #6b6c7e !important;
    background-color: #edcaa0 !important;
}

.sidebar-active {
    border-color: #dbdce4 !important;
    color: #6b6c7e !important;
    background-color: #e89734 !important;
}

.link-button {
    color: #f28809;
    border: None;
    background-color: white;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
    color: #5D8EA9;
    text-decoration: underline;
}